* {
    background-color: #0c0b20;
    margin: 0px;
    font-weight: bold;
    font-family: "Inconsolata", sans-serif;
    font-size: 18px;
    color: white;
}
header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #1A1846;
}
header * {
    background-color: #1A1846;
    padding: 12px;
    margin: 12px;
}
.options {
    padding: 19px;
}
.logo {
    font-size: 26px;
}
.mantra {
    display: flex;
    flex-direction: row;

}